@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes popUp {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

.animate-popUp {
  animation: popUp 0.5s ease-out;
}
